/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* ur */


:root {
    /* основні шрифти */
    --main-font:'Roboto', sans-serif; 
    --secondary-font:'Raleway', sans-serif;
    /* кольори тексту */
    --primary-color: #212121;
    --accent-color: #2196F3;
    --color-text: #757575;
    --white-text: #ffffff;
}
body {
    font-family:var(--main-font);
    font: size 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: #e5e5e5;
}
/* indexhtml*/

/*header indexhtml and portfolio */
.header-link{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:0.83;
    letter-spacing: 0.03em;
    color:black;
}
.header-link-txt {
    color: var(--accent-color);
}
.nav-list {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color) ;
}
.nav-link:hover,
.nav-link:focus
.nav-link {
color: var(--accent-color);
}
/* header contacts*/
.header-contacts {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
}
.header-mail {
    color: var(--color-text);
}
.header-phone {
    color: var(--color-text);
}

a {
    color: var(--primary-color);
}
.header-mail:hover, :focus {
color: var(--accent-color);
}
.header-phone:hover,:focus {
    color: var(--accent-color);
}
/* efectdecision */
.efectdecision {
    background-color:#2F303A ;
}
.efectdecision-title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;

    color: var(--white-text);
}
.efectdecision-button {
font-family: var(--main-font);
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
background-color: var(--accent-color);
    color: var(--white-text);
}
.efectdecision-button {
    cursor:pointer;
}

 


/* quality */
.quality-subtitle 
{
font-family: var(--main-font);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-color) ;
}
.quality-text 
{
font-family: var(--main-font);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--color-text);
}
/* title */
.comand {
    background-color: #F5F4FA;
}
.secondtitle {
font-family: var(--main-font);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color:var(--primary-color) ;
}
.secondtitle-comand {
        font-family: var(--main-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color:var(--primary-color) ;
}
.comand-subtitle {
font-family:var(--main-font);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-color);
}
.comand-text {
font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
color: var(--color-text);
}
.comand-image 
{
    background-image: url() ;
}
/* footer indexhtml and portfolio */
.footer {
    background-color: #2F303A;
    ;
}
.footer-address {
font-family:var(--main-font);
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--white-text);
}
.footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:0.83;
    letter-spacing: 0.03em;
    color: var(--white-text);
}
.footer-txt {
    color: var(--accent-color);
}   
.footer-mail {
font-family:var(--main-font);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255,0.6);
}
.footer-phone {
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255,0.6);
}
a {
    text-decoration: none;
}
/* portfolio */
/* section-main */
.button-first{
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-color);
background-color: #F5F4FA;
}
.button-scnd{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
    background-color: #F5F4FA;
    }
.button-thd{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-color);
        background-color: #F5F4FA;
        }
.button-four{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-color);
        background-color: #F5F4FA;
        }
.button-five{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-color);
        background-color: #F5F4FA;
    }        

button:hover {
    background-color:var(--accent-color);
    color: var(--white-text);
}
.button:focus {
    background-color:var(--accent-color);
    color: var(--white-text);
}
.button {
    cursor:pointer;
}
.main-title {
font-family: var(--main-font);
font-size: 18px;
font-weight: 700;
line-height: 2.0;
letter-spacing: 0.06em;
text-align: left;
color: var(--primary-color);
}
.main-text {
    font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
color:var(--color-text);
}
 .link-current {
    color: var(--accent-color);
    text-decoration: none;
 }
 .link-current:hover
 .link-current:focus

 /* контейнери */
 /* container-header */
 *,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}
.container-header {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.container-headlink {
    display: flex;
}
.header-link {
    display: flex;
    align-items: center;
    padding: 24px 0px;
    margin-right: 93px;
}
.nav-list {
    display: flex;
    align-items: center;
    padding: 32px 0px;
    margin: 0px; 
}

.nav-item {
    display: block;
    margin-right: 50px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 32px;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
/* Эффективные решения */
.efectdecision 
{   padding-top:200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.efectdecision-title {
    margin: 0px auto;
    margin-bottom: 30px;
}
.efectdecision-button {
    min-width: 200px;
    padding: 10px 32px;
}
button {
    border: none;
    border-radius: 4px;
}
.efectdecision-title {
    width: 696px;
    height: 120px;
}
/* Качества */
.quality {    
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-quality {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.quality-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.quality-item {
    margin-right: 30px;
}
.quality-item:last-child {
    margin-right: 0px;
}
.quality-subtitle {
margin-bottom: 10px;
}
.quality-text {
    width: 270px;
    height: 75px;
    margin-bottom: 0px;
}
/* Чем мы занимаемся */
.whatwedo 
{
    display: flex;
    margin-bottom: 94px;   
}
.container-whatwedo {
    width: 1200px;    
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.secondtitle {
    margin-bottom: 50px;
}
.whatwedo-list {
    display: flex;
}
.whatwedo-list {
    margin:0px;
    padding: 0px;
}
.whatwedo-item {
    margin-right: 30px;
}
.whatwedo-item:last-child {
    margin-right:0px;
}
/* Наша команда */
.comand {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-comand 
{
width: 1200px;    
margin-right: auto;
margin-left: auto;
padding-top: 0px;
padding-right: 15px;
padding-left: 15px;
}
.secondtitle-comand {
    margin: 0px;
    margin-bottom: 50px;
}
.comand-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    
}
.comand-image {
    display: block;
}
.comand-item {
    display: block;
    margin-right: 30px;
}
.comand-item:last-child {
    margin-right: 0px;
}
.comand-general {
    padding-top: 30px;
    padding-bottom: 30px;
    margin:0px;
}
.comand-subtitle {
    margin-bottom: 0px;
}
.comand-text {
    margin-top: 10px;
    margin-bottom:16px;
}

/* container-footer html portfolio*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-footer {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-addresstext {
    margin-top: 20px;
    margin-bottom: 9px;
}
.footer-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;  
    margin-bottom: 9px;
}

}
/* portfolio blocks*/
.main-container {
    display: block;
}
.container {
 width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main {
   padding: 94px 0px;  
}
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-left: 0px;
}
.button-list-top:last-child {
margin-right: 0px;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.main-item {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid ;
   border-color: #EEEEEE;
}
.main-item:nth-child(3n) {
    margin-right:0px;}
.main-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}    

.container-text {
   padding:20px 24px;
}
.main-title {
    margin-bottom: 4px;
}
.main-text {
    margin: 0px 0px;
}
.button-first {
    margin-right: 8px;
 padding: 6px 22px;         
    }    
.button-scnd {
margin-right: 8px;
padding: 6px 22px;
        }
.button-thd {
        margin-right: 8px;
padding: 6px 22px;
 }
 .button-four {
margin-right: 8px;
 padding: 6px 22px;   
    }
.button-five {
margin-right: 0px;
padding: 6px 22px;
}

          /*Начертание лінії  */
.header {
    border-bottom: 1px solid;
    color: #ececec;
} 
/* Модуль 4  */
.efectdecision {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
}
/* Постоянные клиенты */
.regular-clients {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-regularclients {
    width: 1200px;    
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;}
.secondtitle {
        font-family: var(--main-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color:var(--primary-color) ;
        }
.clients {
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

}
.clients-item {
    margin-right: 30px;
    display: flex;
    list-style-type: none; 
}
.clients-item:last-child {
        margin-right:0px;
}
.clients-list {
    border: 1px solid #AFB1B8 ;
} 
.clients-icon {
    fill: #AFB1B8;
    background-position: center;
    background-repeat: no-repeat;  
} 
 .clients-list:hover,
.clients-list:focus {
    border: 1px solid var(--accent-color);
}

.clients-list:hover .clients-icon,
.clients-list:focus .clients-icon {
    fill: var(--accent-color);
}
      /*icons with hover our team  */
.comand-general {
    background-color: #ffffff;
}
.icon-comand {
        display: flex;
        list-style-type: none;
        padding-left: 0px;
        justify-content: center;
}
.icon-comandlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.icon-comandlist:hover .comand-icon,
.icon-comandlist:focus .comand-icon {
    fill: #ffffff;           
}
.icon-comandlist:hover,
.icon-comandlist:focus {
    background-color: #2196F3;
}
.icon-comandlist {
    fill: #AFB1B8;
}
 .icon-comanditem {
    list-style-type: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.icon-comanditem:not(:last-child) {
    margin-right:10px; 
}
.comand-item {
    box-shadow: 0px 4px 4px 0px #00000040;
}
 
       /*icon with hover footer  */
.container-footer {
    align-items: baseline;
    display: flex;
}
.container-footeradress {
    margin-right: 70px;
}
.footer-title {
    font-family: var(--main-font);
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-text);
    margin-top: 0px;
    display: flex;
    margin-bottom: 20px;
}
.footer-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
.icon-footerlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 10%);
  background-repeat: no-repeat;
  background-position: center;
    }
.icon-footerlist:hover,
.icon-footerlist:focus {background-color: var(--accent-color);
} 
   .icon-footeritem:not(:last-child)  {
       margin-right:10px;
   }
   .icon-infooter {
       fill: var(--white-text);
       background-position: center;
       background-repeat: no-repeat;
   }
   .icon-infooter:hover,
   .icon-infooter:focus 
   {
       background-color:#2196F3;
       fill: #ffffff;}
 
           
          /* icons quality without hover */
.quality-icon{
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icon with hover header */
.icon-mail,
.icon-tel {
    margin-right: 10px;
    fill: #757575;
}
.header-phone:hover .icon-tel,
.header-phone:focus .icon-tel {
    fill: var(--accent-color);
}
.header-mail:hover .icon-mail,
.header-mail:focus .icon-mail {
    fill: var(--accent-color);
}

/* тінь при натисканні карточки на портфоліо */
.main-item:hover, 
.main-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} 
